body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body a {
    text-decoration: none;
    color: black;
}

header {
    display: flex;
    justify-content: center;

}

header img {
    width: 180px;
    padding: 5% 0 5% 5%;
    align-self: center;

}

header a {
    position: absolute;
    margin-left: -83%;
    align-self: center;
}

header i {
    font-size: 23px
}

.backgroundimage img {
    width: 100%;
    object-fit: cover;
    height: 285px;
}

.menu {
    border-radius: 30px 30px 0 0;
    position: relative;
    background-color: rgb(244, 244, 244);
    margin-top: -15%;

}

.menulist {
    font-family: 'Roboto', sans-serif;
    padding: 0 3% 0 3%;
    font-size: 16px;
    
}

.menulistitle {
    border-bottom: #99E2D0 4px solid;
    width: 15%;
    padding-bottom: 2%;
    margin: 0 0 1% 0;
    


}

.menutitle {
    display: flex;
    justify-content: space-between;
    padding: 5%
}

.menutitle h2 {
    font-family: 'Shrikhand', cursive;
    font-size: 29px;
}

.like {
    align-self: center;
    margin-right: 3%;
    cursor: pointer;
}

.like i {
    font-size: 30px;
}

.heartempty {
    margin-right: -2px;
}

.heartfull {
    font-size: 30px;
    margin-left: -32px;
    margin-top: -5px;
    visibility: hidden;
    background: linear-gradient(to top, #9356DC, #FF79DA);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.heartempty {
    margin-right: -2px;
    font-size: 30px;
}

.like:hover .heartfull {
    animation: like_appearance 0.3s ease-in;
    visibility: visible;

}

.like:hover .heartempty {
    visibility: hidden;
}

@keyframes like_appearance {
    0% {
        opacity: 0%;
    }

    50% {
        opacity: 50%;
    }

    100% {
        opacity: 100%;
    }
}


.starterstitle,
.mainstitle,
.dessertitle {
    margin-top: 3px;
    width: 80%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 3%;


}


.texthidden {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-top: 1%;
}

.starters,
.maindishes,
.desserts {
    padding: 5% 0 5% 0;
}


.starterscontainer {
    display: flex;
    justify-content: space-between;
    background-color: white;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    margin-bottom: 4%;
    cursor: pointer;
    animation: starters_appear 1s linear;
    animation-delay: 0.5s;
    animation-fill-mode: both;
}

.maindishescontainer {
    display: flex;
    justify-content: space-between;
    background-color: white;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    margin-bottom: 4%;
    cursor: pointer;
    animation: mains_appear 0.5s linear;
    animation-delay: 1s;
    animation-fill-mode: both;

}

.dessertscontainer {
    display: flex;
    justify-content: space-between;
    background-color: white;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    margin-bottom: 4%;
    cursor: pointer;
    animation: desserts_appear 0.5s linear;
    animation-delay: 1.5s;
    animation-fill-mode: both;

}

@keyframes starters_appear {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;

    }

}

@keyframes mains_appear {

    0% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;

    }
}

@keyframes desserts_appear {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;

    }
}

.mainstitle h3,
.starterstitle h3,
.dessertitle h3 {
    margin: 0 0 5px 0;
    font-size: 17px;
}

.menulist p {
    margin: 0
}

.price {
    padding-bottom: 3%;
    align-self: end;
    font-size: 15px;
    width: 10%;
    transition: 0.5s ease-in-out
    
}

.select {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 20px 20px 0;
    background-color: #99E2D0;
    color: white;
    padding: 2%;
    opacity: 0;
    transition: 0.4s ease-in;
    font-size: x-large ;
    
}

.select i{
    transition: 0.4s ease-in;
    
    
}


.starterscontainer:hover .select,
.maindishescontainer:hover .select,
.dessertscontainer:hover .select {
    width: 5%;
    padding: 5%;
    opacity: 100%;
}

.starterscontainer:hover .select i,
.maindishescontainer:hover .select i,
.dessertscontainer:hover .select i {
    transform: rotate(360deg);
}

.starterscontainer:hover .price,
.maindishescontainer:hover .price,
.dessertscontainer:hover .price {
    width: 10%;
    margin-right: 20px;
    
    
}

.starterscontainer:hover .starterstitle h3,
.maindishescontainer:hover .mainstitle h3,
.dessertscontainer:hover .dessertitle h3,
.starterscontainer:hover .starterstitle p,
.maindishescontainer:hover .mainstitle p,
.dessertscontainer:hover .dessertitle p {

    width: 75%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.command {
    display: flex;
    justify-content: center;
    background-color: rgb(244, 244, 244);
}

.buttoncommand {
    margin: 5% 10% 23% 10%;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    padding: 4%;
    color: white;
    border: none;
    background: linear-gradient(to top left, #9356DC, #FF79DA);
    width: 200px;
    text-align: center;
    align-self: center;
    transition: .4s;
}


.buttoncommand:hover {
    background: linear-gradient(to bottom right, #ff8ddf, #a071da);
    box-shadow: rgba(0, 0, 0, 0.19) 0px 15px 8px, rgba(0, 0, 0, 0.23) 0px 10px 4px;
    
}



footer h3 {
    width: 95px;
    padding: 5% 0 0 4%;
    color: white;
    font-family: 'Shrikhand', cursive;
    margin: 0;

}


footer {
    color: white;
    background-color: rgb(57, 57, 57);

}

ul {
    margin: 0;
    padding: 5%;
    list-style-type: none;
}

footer a {
    color: white;
}

ul i {
    padding-right: 2%;
}

li {
    margin-bottom: 1%;
}

/*Version desktop*/
@media screen and (min-width: 992px) {

    header {
        height: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .header img {
        margin: 0;
        padding: 0;
    }

    .header a {
        margin-right: 10%;
    }


    .menu {
        margin-top: -2%;
    }

    .menutitle {
        padding: 2%;
    }

    .menutitle h2
    {
        font-size: 32px;
    }

    .like:hover .heartfull {
        visibility: visible;
        animation: like_appearance 0.3s ease-in;

    }

    .like:hover .heartempty {
        visibility: hidden;
    }

    .menulist h3.menulistitle {
        border-bottom: #99E2D0 4px solid;
        width: 4%;
        padding-bottom: 0;
        font-size: 20px;

    }


    .starters,
    .maindishes,
    .desserts {
        padding: 2% 0 2% 0;
    }


    .starterscontainer,
    .maindishescontainer,
    .dessertscontainer {
       height: 100px;
    }

    .starterstitle,
    .mainstitle,
    .dessertitle,
    .texthidden {
        overflow: initial;
        white-space: initial;
        text-overflow: initial;
        margin-top: -5px;
        width: 70%;
        padding: 2%;
    }


    .starterstitle h3,
    .mainstitle h3,
    .dessertitle h3 {
        padding-bottom: 5px;
        font-size: 20px;
    }

    .menulist p
    {
        font-size: 18px;
    }
    .price {
        width: 5%;
        font-size: 20px;
        padding: 2%;
        margin-left: 15%;
    }

    .select {
        opacity: 0%;
        font-size: xx-large;
        padding: 0;
        width: 5%;
    }

    .starterscontainer:hover .select .price,
    .maindishescontainer:hover .select .price,
    .dessertscontainer:hover .select .price
    {
        width: 10%;
    }

    .starterscontainer:hover .select,
    .maindishescontainer:hover .select,
    .dessertscontainer:hover .select 
    {
        width: 10%;
        padding: 1%;
        opacity: 100%;
        
    }

    .buttoncommand
    {
        margin: 0% 5% 5% 5%;
        padding: 2%;
    }
    footer h3 {
        padding: 2% 0 0 2%;
        font-size: xx-large;
    }

    ul {
        padding: 2%;
    }

}

/*Version tablette*/
@media screen and (min-width:768px) and (max-width: 991px){

    .menu{
        margin-top: -6%;
    }

    .menutitle h2
    {
        font-size: 32px;
    }
    .menulistitle
    {
        width: 7%;
        padding-bottom: 1%;
        font-size: 24px;
    }

    .starterstitle,
    .mainstitle,
    .dessertitle
    {
        width: 70%;
    }

    .starterstitle h3,
    .mainstitle h3,
    .dessertitle h3
    {
        font-size: 24px;
        margin-top: -6px;
    }

    .menulist p
    {
        font-size: 21px;

    }

    .price
    {
        padding: 5% 1% 0 0;
        font-size: 20px;
        width: 10%;
        margin: 0% -10% 3% 0;
    }

    .select
    {
        opacity: 0%;
        
    }

    .buttoncommand
    {
        margin: 1% 10% 11% 10%;
    }

}