    body {
        margin: 0;
        font-family: 'Roboto', sans-serif;
    }

    body a {
        text-decoration: none;
        color: black;
    }

    /* PAGE D'ACCUEIL */

    .loadingspinner {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        opacity: 0.9;
        width: 100%;
        height: 100%;
        z-index: 10;
        position: fixed;
        animation: finish 1s;
        animation-delay: 2.5s;
        animation-fill-mode: both;
    }

    .loader {
        position: absolute;
        border: 16px solid #99E2D0;
        border-bottom-color: #9356DC;
        border-top-color: #FF79DA;
        border-radius: 50%;
        width: 120px;
        height: 120px;
        animation: loading 3s linear;
        animation-fill-mode: both;
    }

    @keyframes finish {
        0% {
            opacity: 100%;
        }

        100% {
            opacity: 0%;
            visibility: hidden;
        }

    }

    @keyframes loading {
        0% {
            transform: rotate(0deg) scale(1);
            border-top-color: #FF79DA;
            border-bottom-color: #9356DC;
        }

        25% {

            transform: rotate(90deg) scale(1);
            border-top-color: #FF79DA;
            border-bottom-color: #9356DC;
        }

        50% {
            transform: rotate(180deg) scale(1);
            border-top-color: #FF79DA;
            border-bottom-color: #9356DC;
        }

        75% {
            transform: rotate(270deg) scale(1);
            border-top-color: #FF79DA;
            border-bottom-color: #9356DC;
        }

        99.9% {
            transform: rotate(360deg) scale(1);
            border-top-color: #FF79DA;
            border-bottom-color: #9356DC;

        }

        100% {
            opacity: 0;

        }
    }

    header {
        display: flex;
        justify-content: center;
    }

    header img {
        width: 180px;
        align-self: center;
        padding: 5% 0 5% 0;
    }

    header a {
        position: absolute;
        margin-left: -83%;
        align-self: center;
    }

    header i {
        font-size: 23px
    }

    .backgroundimage img {
        width: 100%;
        object-fit: cover;
        height: 285px;
    }

    .place {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgb(232, 232, 232);

    }

    .place i {
        margin-right: 4%;
        font-size: larger;
    }

    .place p {
        font-size: larger;
        font-weight: 700;
    }

    .presentation {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgb(244, 244, 244);
        padding: 0 3% 6% 3%;

    }

    .presentation p {
        font-size: larger;
        text-align: center;
        padding: 0 2% 0 2%;

    }

    .presentation h1 {
        text-align: center;
        padding: 10% 15% 0 15%;
        margin: 0%;
        font-size: 23px;
    }

    .buttonexplore,
    .buttoncommand {
        background: linear-gradient(to bottom right, #FF79DA, #9356DC);
        margin: 5% 10% 10% 10%;
        border-radius: 30px;
        box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
        padding: 4%;
        width: 200px;
        color: white;
        border: none;
        text-align: center;
        transition: 0.4s;
    }


    .buttoncommand:hover, .buttonexplore:hover {
        background: linear-gradient(to bottom right, #ff8ddf, #a071da);
        box-shadow: rgba(0, 0, 0, 0.19) 0px 15px 8px, rgba(0, 0, 0, 0.23) 0px 10px 4px;

    }

    .fonctioningtitle h2,
    .restaurants h2 {
        padding-left: 6%;
    }

    .fonctioninglist {
        display: flex;
        flex-direction: column;
        align-items: center;
    }



    .fonctioningchoices {
        display: flex;
        align-items: center;
        border-radius: 20px;
        background-color: rgb(247, 247, 247);
        box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
        margin-bottom: 7%;
        width: 290px;
        cursor: pointer;
        transition: .2s;
    }

    .fonctioningchoices:hover {
        box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 30px 0px;
        transform: scale(1.1);
    }

    .number {
        background-color: #9356DC;
        color: white;
        border-radius: 50%;
        height: 25px;
        width: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: -15px;
    }


    .fonctioningchoices i {
        color: rgb(99, 99, 99);
        padding: 0 4% 0 6%;
    }



    .fonctioningchoices h3 {
        padding: 3% 3% 3% 2%;
        font-size: medium;

    }

    .restaurants {
        background: rgb(247, 247, 247);

    }

    .restaurants h2 {
        padding-top: 10%;
    }

    .restaurantlist {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 12%;
    }

    .restaurantcard {
        width: 350px;
        height: 300px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
        border-radius: 20px;
        margin-bottom: 6%;
        position: relative;
        background-color: white;

    }

    .restaurantlink {
        text-decoration: none;
        color: black;
    }

    .restaurantcard img {
        object-fit: cover;
        width: 100%;
        height: 70%;
        border-radius: 20px 20px 0 0;
    }

    .new {
        color: #198269;
        background-color: #99E2D0;
        position: absolute;
        padding: 2%;
        font-weight: bolder;
        margin-left: 74%;
        margin-top: -53%;

    }

    .restaurantcard .caption {
        height: 30%;
    }

    .caption h3,
    .caption p {
        margin: 0%;
    }

    .caption {
        padding: 3% 0 0 3%;
        font-size: larger;
    }

    .like {
        position: absolute;
        left: 290px;
        top: 235px;
        cursor: pointer;
    }

    .heartfull {

        font-size: 30px;
        margin-left: -25px;
        margin-top: -5px;
        visibility: hidden;
        background: linear-gradient(to top, #9356DC, #FF79DA);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
    }

    .heartempty {
        margin-right: -9px;
        font-size: 30px;
        
    }

    .like:hover .heartfull, .like2:hover .heartfull {
        animation: like_appearance 250ms ease-out;
        visibility: visible;

    }

    .like:hover .heartempty, .like2:hover .heartempty {
        visibility: hidden;
    }

    @keyframes like_appearance {
        0% {
            opacity: 0%;
        }

        30% {
            opacity: 30%;
        }

        60% {
            opacity: 60%;
        }

        90% {
            opacity: 90%;
        }

        100% {
            opacity: 100%;
        }
    }



    .caption h3 {
        margin-bottom: 2%;
    }


    footer h3 {
        width: 95px;
        padding: 5% 0 0 4%;
        color: white;
        font-family: 'Shrikhand', cursive;
        margin: 0;

    }


    footer {
        color: white;
        background-color: rgb(57, 57, 57);
    }

    ul {
        margin: 0;
        padding: 5%;
        list-style-type: none;
    }

    footer a {
        color: white;
    }

    ul i {
        padding-right: 2%;
    }

    li {
        margin-bottom: 1%;
    }

    /* PAGE DES MENUS */

    .like2 {
        align-self: center;
        margin-right: 2%;
        cursor: pointer; 
    }


    .menu {
        border-radius: 30px 30px 0 0;
        position: relative;
        background-color: rgb(244, 244, 244);
        margin-top: -15%;

    }

    .menulist {
        font-family: 'Roboto', sans-serif;
        padding: 0 3% 0 3%;
        font-size: 16px;

    }

    .menulistitle {
        border-bottom: #99E2D0 4px solid;
        width: 15%;
        padding-bottom: 2%;
        margin: 0 0 1% 0;
    }

    .menutitle {
        display: flex;
        justify-content: space-between;
        padding: 5%
    }

    .menutitle h1 {
        font-family: 'Shrikhand', cursive;
        font-size: 29px;
    }

    .starterstitle,
    .mainstitle,
    .dessertitle {
        margin-top: 3px;
        width: 85%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        padding: 3%;
    }

    .texthidden {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        margin-top: 1%;
    }

    .starters,
    .maindishes,
    .desserts {
        padding: 5% 0 5% 0;
    }


    .starterscontainer {
        display: flex;
        justify-content: space-between;
        background-color: white;
        border-radius: 20px;
        box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
        margin-bottom: 4%;
        cursor: pointer;
        animation: starters_appear 1s linear;
        animation-delay: 0.5s;
        animation-fill-mode: both;
    }

    .maindishescontainer {
        display: flex;
        justify-content: space-between;
        background-color: white;
        border-radius: 20px;
        box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
        margin-bottom: 4%;
        cursor: pointer;
        animation: mains_appear 0.5s linear;
        animation-delay: 1s;
        animation-fill-mode: both;

    }

    .dessertscontainer {
        display: flex;
        justify-content: space-between;
        background-color: white;
        border-radius: 20px;
        box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
        margin-bottom: 4%;
        cursor: pointer;
        animation: desserts_appear 0.5s linear;
        animation-delay: 1.5s;
        animation-fill-mode: both;

    }

    @keyframes starters_appear {
        0% {
            opacity: 0%;
        }

        100% {
            opacity: 100%;

        }

    }

    @keyframes mains_appear {

        0% {
            opacity: 0%;
        }

        100% {
            opacity: 100%;

        }
    }

    @keyframes desserts_appear {
        0% {
            opacity: 0%;
        }

        100% {
            opacity: 100%;

        }
    }


    .mainstitle h3,
    .starterstitle h3,
    .dessertitle h3 {
        margin: 0 0 5px 0;
        font-size: 17px;
    }

    .menulist p {
        margin: 0
    }

    .price {
        padding-bottom: 3%;
        align-self: end;
        font-size: 15px;
        margin-right: -10px;
        width: 10%;
        transition: 0.5s ease-in-out
    }

    .select {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 0 20px 20px 0;
        background-color: #99E2D0;
        color: white;
        padding: 2%;
        opacity: 0;
        transition: 0.4s ease-in;
        font-size: x-large;

    }

    .select i {
        transition: 0.4s ease-in;
    }


    .starterscontainer:hover .select,
    .maindishescontainer:hover .select,
    .dessertscontainer:hover .select {
        width: 5%;
        padding: 5%;
        opacity: 100%;
    }

    .starterscontainer:hover .select i,
    .maindishescontainer:hover .select i,
    .dessertscontainer:hover .select i {
        transform: rotate(360deg);
    }

    .starterscontainer:hover .price,
    .maindishescontainer:hover .price,
    .dessertscontainer:hover .price {
        width: 10%;
        margin-right: 20px;
    }

    .starterscontainer:hover .starterstitle h3,
    .maindishescontainer:hover .mainstitle h3,
    .dessertscontainer:hover .dessertitle h3,
    .starterscontainer:hover .starterstitle p,
    .maindishescontainer:hover .mainstitle p,
    .dessertscontainer:hover .dessertitle p {

        width: 80%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .command {
        display: flex;
        justify-content: center;
        background-color: rgb(244, 244, 244);
    }

    /*Version desktop*/
    @media screen and (min-width: 992px) {

        /* PAGE D'ACCUEIL */

        header {
            height: 70px;
            box-shadow: 0px 14px 5px 0px rgba(87, 87, 87, 1);
        }

        .place {
            height: 80px;
        }

        .place i {
            margin-right: 1%
        }

        .presentation {
            height: 330px;
        }

        .presentation p {
            padding-top: 1%;
        }

        .buttonexplore {
            padding: 2%;
            width: 200px;
            transition: .4s;
            margin: 4% 0 4% 0;
        }

        .fonctioning {
            padding-bottom: 0;

        }

        .fonctioninglist {
            flex-direction: row;
            justify-content: space-around;
        }


        .restaurants h2,
        .fonctioningtitle h2 {
            padding: 3% 0 2% 3%;
        }

        .restaurantlist {

            flex-direction: row;
            justify-content: space-around;
            padding-bottom: 8%;
        }

        .restaurantcard {
            width: 280px;
            height: 250px;
            cursor: pointer;
            transition: .2s;
        }

        .restaurantcard:hover {
            transform: scale(1.1);
        }
        
        .like
        {
            left: 220px;
            top: 195px;
        }

        .new {
            margin-bottom: 60%;
            margin-left: 70%;
        }

        .caption {
            font-size: initial;
        }

        footer h3 {
            padding-top: 3%;
            font-size: x-large;
        }

        ul {
            padding: 2%;
        }

        /* PAGE DES MENUS */
        .menu {
            margin-top: -2%;
        }

        .menutitle {
            padding: 2%;
            
        }

        .menutitle h1 {
            font-size: 32px;
            margin-left: 2%;
        }

        .like2
        {
            margin-right: 5%;
        }

        .like2 .heartfull
        {
            font-size: 40px;
            margin-left: -35px;
        }

        .like2 .heartempty
        {
            font-size: 40px;
        }

        .menulist h2.menulistitle {
            border-bottom: #99E2D0 4px solid;
            width: 4%;
            padding-bottom: 0;
            font-size: 20px;

        }


        .starters,
        .maindishes,
        .desserts {
            padding: 2% 0 2% 0;
        }


        .starterscontainer,
        .maindishescontainer,
        .dessertscontainer {
            height: 100px;
        }

        .starterstitle,
        .mainstitle,
        .dessertitle {
            overflow: initial;
            white-space: initial;
            text-overflow: initial;
            margin-top: -5px;
            width: 70%;
            padding: 2%;
        }


        .starterstitle h3,
        .mainstitle h3,
        .dessertitle h3 {
            padding-bottom: 5px;
            font-size: 20px;
        }

        .menulist p {
            font-size: 18px;
        }

        .price {
            width: 5%;
            font-size: 20px;
            padding: 2%;
            margin-left: 15%;
        }

        .select {
            opacity: 0%;
            font-size: xx-large;
            padding: 0;
            width: 5%;
        }

        .starterscontainer:hover .select,
        .maindishescontainer:hover .select,
        .dessertscontainer:hover .select {
            width: 10%;
            padding: 1%;
        }

        .buttoncommand {
            margin: 0% 5% 7% 5%;
            padding: 2%;
        }

        footer h3 {
            padding: 2% 0 0 2%;
            font-size: xx-large;
        }

        ul {
            padding: 2%;
        }


    }


    /*VERSION TABLETTE*/
    @media screen and (min-width:768px) and (max-width: 991px) {

        /* PAGE D'ACCUEIL */

        header {
            height: 90px;
            box-shadow: 0px 14px 5px 0px rgba(87, 87, 87, 1);
        }

        .place {
            height: 75px;
        }

        .place i {
            margin-right: 2%
        }

        .presentation {
            padding: 0 3% 0 3%;
        }

        .presentation h1 {
            padding-top: 9%;
        }

        .buttonexplore {
            padding: 3%;
            margin: 4% 0 9% 0;
        }

        .fonctioningtitle h2 {
            margin: 0;
            padding: 5% 0 2% 4%;
            font-size: x-large;

        }

        .fonctioning {
            padding-bottom: 0;
        }

        .fonctioningchoices {
            width: 350px;
        }

        .fonctioningchoices h3 {
            padding-left: 4%;
        }

        .fonctioningchoices i {
            padding-left: 13%;
        }

        .restaurants h2 {
            padding: 5% 0 2% 4%;
            font-size: x-large;
        }

        .restaurantlist {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            padding-bottom: 5%;
        }

        .restaurantcard {
            margin-bottom: 10%;
        }

        .like {
            margin-top: 5px;
        }

        footer h3 {
            padding: 3% 0 0 4%;
            font-size: x-large;
        }

        ul {
            padding: 3%;
            font-size: larger;
        }

        /* PAGE DES MENUS */
        
            .menu {
                margin-top: -6%;
            }

            .menutitle h1 {
                font-size: 32px;
            }

            .like2
            {
                margin-right: 3%;
            }
           
            .menulistitle {
                width: 7%;
                padding-bottom: 1%;
                font-size: 24px;
            }

            .starterstitle,
            .mainstitle,
            .dessertitle {
                width: 70%;
            }

            .starterstitle h3,
            .mainstitle h3,
            .dessertitle h3 {
                font-size: 24px;
                margin-top: -6px;
            }

            .menulist p {
                font-size: 21px;

            }

            .price {
                padding: 5% 1% 0 0;
                font-size: 20px;
                width: 10%;
                margin: 0% -10% 3% 0;
            }

            .buttoncommand {
                margin: 1% 10% 11% 10%;
            }

        }

    