    body {
        margin: 0;
        font-family: 'Roboto', sans-serif;
    }

    body a {
        text-decoration: none;
    }
 
/*     
    .loadingspinner {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        opacity: 0.9;
        width: 100%;
        height: 100%;
        z-index: 10;
        position: fixed;
        animation: finish 2.9s;
        animation-delay: 2.5s;
        animation-fill-mode: both;


    }

    .loader {
        position: absolute;
        border: 16px solid #99E2D0;
        border-bottom-color: #9356DC;
        border-top-color: #FF79DA;
        border-radius: 50%;
        width: 120px;
        height: 120px;
        animation: loading 3s linear;
        animation-fill-mode: both;

    }

    @keyframes finish {
        0% {
            opacity: 100%;
        }

        100% {
            opacity: 0%;
            visibility: hidden;
        }

    }

    @keyframes loading {
        0% {
            transform: rotate(0deg) scale(1);
            border-top-color: #FF79DA;
            border-bottom-color: #9356DC;
        }

        25% {

            transform: rotate(90deg) scale(1);
            border-top-color: #FF79DA;
            border-bottom-color: #9356DC;
        }

        50% {
            transform: rotate(180deg) scale(1);
            border-top-color: #FF79DA;
            border-bottom-color: #9356DC;
        }

        75% {
            transform: rotate(270deg) scale(1);
            border-top-color: #FF79DA;
            border-bottom-color: #9356DC;
        }

        99.9% {
            transform: rotate(360deg) scale(1);
            border-top-color: #FF79DA;
            border-bottom-color: #9356DC;

        }

        100% {
            opacity: 0;

        }
    } */



    header {
        display: flex;
        justify-content: center;
        box-shadow: 0px 14px 5px 0px rgba(87, 87, 87, 1);

    }

    header img {
        width: 180px;
        align-self: center;
        padding: 5% 0 5% 0;
    }

    .place {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgb(232, 232, 232);

    }

    .place i {
        margin-right: 4%;
        font-size: larger;
    }

    .place p {
        font-size: larger;
        font-weight: 700;
    }

    main h2 {
        font-size: 23px;
    }

    .presentation {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgb(244, 244, 244);
        padding: 0 3% 6% 3%;

    }

    .presentation p {
        font-size: larger;

    }

    .presentation h2 {
        text-align: center;
        padding: 10% 15% 0 15%;
        margin: 0%;
    }

    .presentation p {
        text-align: center;
        padding: 0 2% 0 2%;

    }

    .presentation a {
        margin: 5% 0 5% 0;

    }

    .buttonexplore {
        background: linear-gradient(to bottom right, #FF79DA, #9356DC);
        margin: 5% 10% 10% 10%;
        border-radius: 30px;
        box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
        padding: 5%;
        color: white;
        border: none;
        text-align: center;

    }

    

    .fonctioningtitle h2,
    .restaurants h2 {
        padding-left: 6%;
    }

    .fonctioninglist {
        display: flex;
        flex-direction: column;
        align-items: center;
    }



    .fonctioningchoices {
        display: flex;
        align-items: center;
        border-radius: 20px;
        background-color: rgb(247, 247, 247);
        box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
        margin-bottom: 7%;
        width: 290px;
        cursor: pointer;
        transition: .2s;
    }

    .fonctioningchoices:hover {
        box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 30px 0px;
        transform: scale(1.1);
    }

    .number {
        background-color: #9356DC;
        color: white;
        border-radius: 50%;
        height: 25px;
        width: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: -15px;
    }


    .fonctioningchoices i {
        color: rgb(99, 99, 99);
        padding: 0 4% 0 6%;
    }



    .fonctioningchoices h3 {
        padding: 3% 3% 3% 2%;
        font-size: medium;

    }

    .restaurants {
        background: rgb(247, 247, 247);

    }

    .restaurants h2 {
        padding-top: 10%;
    }

    .restaurantlist {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 12%;
    }

    .restaurantcard {
        width: 350px;
        height: 300px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
        border-radius: 20px;
        margin-bottom: 6%;
        position: relative;
        background-color: white;

    }

    .restaurantlink {
        text-decoration: none;
        color: black;
    }

    .restaurantcard img {
        object-fit: cover;
        width: 100%;
        height: 70%;
        border-radius: 20px 20px 0 0;
    }

    .new {
        color: #198269;
        background-color: #99E2D0;
        position: absolute;
        padding: 2%;
        font-weight: bolder;
        margin-left: 74%;
        margin-top: -53%;

    }

    .restaurantcard .caption {
        height: 30%;
    }

    .caption h3,
    .caption p {
        margin: 0%;
    }

    .caption {
        padding: 3% 0 0 3%;
        font-size: larger;
    }

    .like
    {
        position: absolute;
        left: 290px;
        top: 235px;
        cursor: pointer
    }

    .heartfull {

        font-size: 30px;
        margin-left: -25px ;
        margin-top: -5px;
        visibility: hidden;
        background: linear-gradient(to top, #9356DC, #FF79DA);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
    }

    .heartempty {
        margin-right: -9px;
        font-size: 30px;
    }

    .like:active .heartfull {
        animation: like_appearance 250ms ease-out;
        visibility: visible;
        
    }

    .like:active .heartempty
    {
        visibility: hidden;
    }

   @keyframes like_appearance
   {
        0%{
            opacity: 0%;
        }

        30% 
        {
            opacity: 30%;
        }
        60%{
            opacity: 60%;
        }

        90%
        {
            opacity: 90%;
        }
        100%{
            opacity: 100%;
        }
   }



    .caption h3 {
        margin-bottom: 2%;
    }


    footer h3 {
        width: 95px;
        padding: 5% 0 0 4%;
        color: white;
        font-family: 'Shrikhand', cursive;
        margin: 0;

    }


    footer {
        color: white;
        background-color: rgb(57, 57, 57);
    }

    ul {
        margin: 0;
        padding: 5%;
        list-style-type: none;
    }

    footer a {
        color: white;
    }

    ul i {
        padding-right: 2%;
    }

    li {
        margin-bottom: 1%;
    }

    /*Version desktop*/
    @media screen and (min-width: 992px) {
        header {
            height: 70px;
            box-shadow: 0px 14px 5px 0px rgba(87, 87, 87, 1);
        }

        .place {
            height: 80px;
        }

        .place i {
            margin-right: 1%
        }

        .presentation {
            height: 330px;
        }

        .presentation p {
            padding-top: 1%;
        }

        .presentation a {
            margin: 4% 0 4% 0;
        }

        .buttonexplore {
            padding: 2%;
            width: 200px;
        }

        .buttonexplore:hover {
            background: linear-gradient(to bottom right, #ff8ddf, #a071da);
            box-shadow: rgba(0, 0, 0, 0.19) 0px 15px 8px, rgba(0, 0, 0, 0.23) 0px 10px 4px;
            transition: .4s;
        }

        .fonctioning {
            padding-bottom: 0;

        }

        .fonctioninglist {
            flex-direction: row;
            justify-content: space-around;
        }


        .restaurants h2,
        .fonctioningtitle h2 {
            padding: 3% 0 2% 3%;
        }

        .restaurantlist {

            flex-direction: row;
            justify-content: space-around;
            padding-bottom: 8%;
        }

        .restaurantcard {
            width: 280px;
            height: 250px;
            cursor: pointer;
            transition: .2s;
        }

        .restaurantcard:hover {
            transform: scale(1.1);
        }
        
        .like
        {
            left: 0;
            right: 0;
            margin: -12% 0 0 83%;
        }
        
        .heartempty
        {
            font-size: 26px;
        }
        .heartfull
        {
            margin-top: -30px;
            font-size: 26px;
            margin-left: -21px;
            visibility: hidden;
        }
        
        .like:hover .heartfull {
        visibility: visible;
        animation: like_appearance 0.3s step-end;
        
        }

        .like:hover .heartempty {
        visibility: hidden;
        }
        .new {
            margin-bottom: 60%;
            margin-left: 70%;
        }

        .caption {
            font-size: initial;
        }

        footer h3 {
            padding-top: 3%;
            font-size: x-large;
        }

        ul {
            padding: 2%;
        }
    }

    /*Version tablette*/
    @media screen and (min-width:768px) and (max-width: 991px) {

        header {
            height: 90px;
            box-shadow: 0px 14px 5px 0px rgba(87, 87, 87, 1);
        }

        .place {
            height: 75px;
        }

        .place i {
            margin-right: 2%
        }

        .presentation {
            padding: 0 3% 0 3%;
        }

        .presentation h2 {
            padding-top: 9%;
        }

        .buttonexplore {
            padding: 3%;
        }

        .presentation a {
            margin: 4% 0 9% 0;

        }

        .fonctioningtitle h2 {
            margin: 0;
            padding: 5% 0 2% 4%;
            font-size: x-large;

        }

        .fonctioning {
            padding-bottom: 0;
        }

        .fonctioningchoices {
            width: 350px;
        }

        .fonctioningchoices h3 {
            padding-left: 4%;
        }

        .fonctioningchoices i {
            padding-left: 13%;
        }

        .restaurants h2 {
            padding: 5% 0 2% 4%;
            font-size: x-large;
        }

        .restaurantlist {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            padding-bottom: 5%;
        }

        .restaurantcard {
            margin-bottom: 10%;
        }
         
        .like
        {
            margin-top: 5px;
        }
        .heartfull{
            visibility: hidden;
        }
        
        footer h3 {
            padding: 3% 0 0 4%;
            font-size: x-large;
        }

        ul {
            padding: 3%;
            font-size: larger;
        }



    }