    body
    {
        margin: 0;
        font-family: 'Roboto', sans-serif;
    }

    body a
    {
        text-decoration: none;
    }
    
    .loading
    {
        width: 100%;
        height: 100%;
    }


    header
    { 
        display: flex;
        justify-content: center;
        box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
        
    }

    header img
    {
        width: 180px;
        align-self: center;
        padding: 5% 0 5% 0;
    }

    .place
    {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgb(232, 232, 232);
        
    }

    .place i
    {
        margin-right: 4%;
        font-size: larger;
    }

    .place p
    {
        font-size: larger;
        font-weight: 700;
    }

    main
    {
        margin-bottom: 6%;
    }
    main h2
    {
        font-size: 30px;
    }

    .presentation
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgb(244, 244, 244);
        padding: 0 3% 6% 3%;
        
    }

    .presentation p
    {
        font-size: larger;
        
    }

    .presentation h2, .presentation p
    {
        text-align: center;
    }

    .presentation a
    {
        margin-bottom: 5%;
    }

    .buttonexplore
    {
        background: linear-gradient(to top left, #9356DC, #FF79DA);
        margin: 5% 10% 10% 10%;
        border-radius: 30px;
        box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
        padding: 4%;
        color: white;
        border: none;
        width: 200px;
        text-align: center;
        
    }

    .fonctioning
    {
        padding-bottom: 10%;
    }
    .fonctioningtitle h2, .restaurants h2
    {
        padding-left: 6% ;
    }

    .fonctioninglist
    {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
  

    .fonctioningchoices
    {   
        display: flex;
        align-items: center;
        border-radius: 20px;
        background-color: rgb(247, 247, 247);
        box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
        margin-bottom: 7%;
        width: 290px;
        transition: .3s;
    }

    .fonctioningchoices:hover
    {
        background-color: rgb(255, 239, 239);
        box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 30px 0px;
        cursor: pointer;
        transform: scale(1.1);
    }
    .number 
    {
        background-color:#9356DC;
        color: white;
        border-radius: 50%;
        height: 25px;
        width: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: -15px;
    }


    .fonctioningchoices i
    {
        color: rgb(99, 99, 99);
        padding: 0 4% 0 6%;
    }

    

    .fonctioningchoices h3
    {
        padding: 3% 3% 3% 2%;
        
        font-size: medium;
        
    }
    
    .restaurants
    {
        background: rgb(247, 247, 247);

    }

    .restaurants h2
    {
        padding-top: 10%;
    }

    .restaurantlist
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .restaurantcard
    {
        width: 350px;
        height: 300px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
        border-radius: 20px;
        margin-bottom: 10%;
        position: relative;
    }

    .restaurantlink
    {
        text-decoration: none;
        color: black;
    }
    .restaurantcard img
    {
        object-fit: cover;
        width: 100%;
        height: 70%;
        border-radius: 20px 20px 0 0;
    }

    .new
    {
        color: #198269;
        background-color: #99E2D0;
        position: absolute;
        padding: 2%;
        font-weight: bolder;
        margin-left: 68%;
        margin-top: -53%;
        
    }

    .restaurantcard .caption
    {
        height: 30%;
    }

    .caption h3, .caption p
    {
        margin: 0%;
    }

    .caption
    {
        padding: 3% 0 0 3%;
        font-size: larger;
    }

    .like i
    {
        display: flex;
        justify-content: end;
        margin-right: 15px;
        margin-top: -50px;
        font-size: 25px;
    }

    .caption h3
    {
        margin-bottom: 2%;
    }


    footer h3
    {
        width: 95px;
        padding: 5% 0 0 4%;
        color: white;
        font-family:'Shrikhand', cursive; 
        margin: 0;
        
    }

    
    footer 
    {   color: white;
        background-color: rgb(57, 57, 57);
    }

    ul
    {
        margin: 0;
        padding: 5%;
        list-style-type: none;
    }
    
    footer a
    {
        color: white;
    }
 
    ul i
    {
        padding-right: 2%;
    }

    li
    {
        margin-bottom: 1%;
    }











    